.star {
    /* margin-top: 300px; */
    margin-left: 400px; 
    width:100px;
    height:75px;
  }

.star img {
   width: 100%;
 }

.minimalist {
  font-size: 35px;
  font-family: georgia, serif;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 10px;

}
  .info {
  background-color: #f8f4f4;
  padding: 15px;
  border-radius: 8px;       
  border: 1px solid #ddd;     
  font-family: Arial, sans-serif;
  color: #333;
  margin-left: 400px;
  margin-right: 400px;
  line-height: 1.5
  }